@import url("/src/app/styles/fonts/gilroy/stylesheet.scss");
@import url("/src/app/styles/fonts/nekst-black/stylesheet.scss");


body {
  margin: 0;
  font-family: 'Nekst', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
